<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lizun.mappers.CustomerMapper">
    <resultMap id="customer" type="lizun.model.Customer" autoMapping="true">
        <result property="role" column="id_role" javaType="java.lang.Integer"/>
        <association property="user" column="id_user" javaType="lizun.model.User">
            <id property="id" column="id"/>
            <result property="hash" column="hash"/>
        </association>
        <association property="role" column="id_role" javaType="lizun.model.Role">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
     </resultMap>
    <select id="setNewCustomer" parameterType="lizun.model.Customer"
            resultType="lizun.model.Customer">
        insert into customer(phone, key, iv, id_role, id_user)
        values (#{customer.phone}, #{customer.key}, #{customer.iv},#{customer.role.id},
                #{customer.user.id});

        select c.id,
               c.id_role "role.id",
               r.name "role.name"
        from customer c
            join role r on c.id_role = r.id
        where c.phone = #{customer.phone};
    </select>
    <select id="updateCustomer" parameterType="lizun.model.Customer"
            resultType="lizun.model.Customer">
        update customer
        set (id_role,id_user)=(#{customer.role.id},#{customer.user.id})
        where id = #{customer.id};
        select * from customer where id = #{customer.id};
    </select>
    <select id="getCustomerById" resultType="lizun.model.Customer">
        select *
        from customer
        where #{id} = id;
    </select>
    <resultMap id="customer1" type="lizun.model.Customer" autoMapping="true">
        <result property="role" column="id_role" javaType="java.lang.Integer"/>
        <association property="user" column="id_user" javaType="lizun.model.User">
            <id property="id" column="id"/>
            <result property="hash" column="hash"/>
        </association>
        <association property="role" column="id_role" javaType="lizun.model.Role">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <select id="getCustomers" resultType="lizun.model.Customer">
        select c.id,
               c.iv,
               c.phone,
               c.key,
               c.id_role "role.id",
               r.name "role.name",
               u.id "user.id",
               u.hash "user.hash"
        from customer c
                 left join "user" u on c.id_user = u.id
                 join role r on c.id_role = r.id;

    </select>
    <select id="getCountOfOrders" resultType="java.lang.Integer">
        select distinct count(o)
        from "order" o
                 inner join customer c on o.id_customer = c.id
        where c.id = #{customer.id};
    </select>
    <select id="getSumOfAllOrders" resultType="java.lang.Integer">
        select sum(d.price * od.count)
        from "order" o
                 join customer c on o.id_customer = c.id
                 join order_dish od on o.id = od.id_order
                 join dish d on od.id_dish = d.id

        where c.id = #{customer.id};
    </select>
</mapper>
